/*網站首頁*/

/*清除所有標籤的 padding、margin、*/
/*box-sizing:border-box 會根據寬高決定*/
/*font-family 字體 DFkai-sb 沒有換  sans-serif*/
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: DFkai-sb, sans-serif;
}

/*將預設粗字體拿掉*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/*放圖片、邊寬間距*/
header div.top {
  background-image: url("/images/background.png");
  padding: 1rem;
}

header div.top h1 {
  font-size: 2.5rem;
}

header div.top h3 {
  font-size: 1rem;
}

header nav {
  background-color: black;
}

/*設定成橫排、將清單格式清除*/
header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  padding: 1rem;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

/*鼠標碰到字變黃色變大0.3秒完成*/
header nav ul li a:hover {
  color: yellow;
  font-size: 1.4rem;
  transition: all 0.3s ease;
}

header nav ul li .current {
  color: yellow;
}

/*變成flex box 將格局改成可以橫排、並且使用flex-wrap: wrap
頁面壓縮到會自動往下排版*/
main {
  display: flex;
  flex-wrap: wrap;
}
main.no-flex {
  display: block;
}

main section {
  padding: 1rem;
}

/*************************left*****************************/
/*
flex:第1個是成長比例、第二個是收縮比例、第三個是基礎尺寸小於會縮排
1.flex-grow、2.flex-shrink、3.flex-basis
*/
section.left {
  flex: 1 1 200px;
}
section.left img {
  width: 100%;
}
section.left h3 {
  padding: 1rem;
}
section.left table {
  margin: 1rem 0rem 0rem 0rem;
  padding: 0.5rem;
}
section.left tr {
  padding: 1rem;
}
section.left td {
  padding: 0.3rem;
}

/*************************right*****************************/
section.right {
  flex: 4 1 500px;
}
section.right h3 {
  padding: 1rem 0rem 1rem 0rem;
  font-size: 1.4rem;
  color: rgb(255, 0, 170);
}
p {
  padding: 0.5rem 0rem 0.5rem 0rem;
}
section.right ul {
  padding: 0rem 0rem 0rem 2.5rem;
}

/*韓國棋院*/
div.player {
  border: 0.2rem solid rgb(179, 179, 111);
  margin: 1rem;
  padding: 1rem;
}
div.player h2,
div.player h4 {
  color: rgb(50, 198, 30);
}

/*日本棋院*/
div.japan {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

div.japan img {
  width: 40%;
  height: 40%;
  flex: 1 10 20px;
}

div.japan div.info {
  padding: 2rem;
  flex: 4 1 500px;
}

div.competition {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

div.competition div.text h3 {
  font-size: 2rem;
  color: rgb(26, 159, 159);
}
div.competition div.text {
  flex: 5 1 300px;
}
div.competition div.text ul {
  padding: 0rem 0rem 0rem 1rem;
}
#piechart {
  flex: 1 1 200px;
}

/*中國棋院*/
main.china_font h2 {
  font-size: 2rem;
  color: blue;
}
main.china_font section {
  padding: 0rem 1rem 0rem 1rem;
}
table.china_grup th {
  background-color: aqua;
  border: 1px solid;
}
table.china_grup td {
  border: 1px solid;
  padding: 0rem 1.4rem 0rem 0rem;
}

/*海峰棋院*/
main.taiwan_font h2 {
  font-size: 2rem;
  color: blue;
}
main.taiwan_font section {
  padding: 0.5rem 1rem 0rem 1rem;
}
main.taiwan_font section ul {
  padding: 0rem 1rem 0rem 1rem;
}
